:root {
  --primary-color: #0abfbc;
  --accent-color: #ff5c5c;
  --bg-color: #f9f9f9;
  --text-color: #333;
  --border-color: #ddd;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make app fill screen on mobile */
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 40px;
}
